@model List<ConfigWebUI.Models.ConfigItem>
@{
    ViewData["Title"] = "Konfigürasyon Yönetimi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Konfigürasyon Yönetimi</h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Gelen Id</th>
            <th>Değer</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var config in Model)
            {
                <tr>
                    <td>@config.Key</td>
                    <td>@config.Value</td>
                </tr>
            }
        }
        else
        {
            <H2>
                Modelde Veri Bulunamadı veya API ile baglantı kurulamadı!!!
            </H2>
        }

    </tbody>
</table>

<h4>Yeni Konfigürasyon Ekle</h4>
<form method="post" asp-action="Add">
    <div class="form-group">
        <label>Uygulama Adı:</label>
        <input type="text" name="ApplicationName" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Anahtar:</label>
        <input type="text" name="Key" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Değer:</label>
        <input type="text" name="Value" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Ekle</button>
</form>
